<header class="container default-padding">
  <!-- Title & Searchbox-->
  <div class="row">
    <div class="col-8 offset-2 text-center">
      <h4>Application</h4>
      <div class="row">
        <div class="col-8 offset-2">
          <div class="form-group">
            <input
              type="text"
              placeholder="Search"
              class="searchfield form-control text-center"
            />
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Filters -->
  <div class="row">
    <div class="col-4 offset-2 dropdown">
      <select class="form-control form-control-sm">
        <option>Option 01</option>
        <option>Option 02</option>
      </select>
    </div>
    <div class="col-4 dropdown">
      <select class="form-control form-control-sm">
        <option>Option 01</option>
        <option>Option 02</option>
        <option>Option 03</option>
      </select>
    </div>
  </div>
</header>

<!-- Main -->
<main class="main default-padding">
  <div class="container">

    <div class="text-center" *ngIf="(loading | async)">
      Loading...
    </div>

    <div class="article" *ngFor="let item of (data | async)">
      <h4>Article Title ({{item}})</h4>
      <p>Article Description</p>
    </div>
  </div>
</main>
