<!-- Title & Searchbox-->
<header class="container default-padding">
  <div class="row">
    <div class="col-8 offset-2 text-center">
      <h4>Application</h4>
      <div class="row">
        <div class="col-8 offset-2">
          <div class="form-group">
            <input
              type="text"
              placeholder="Search"
              class="searchfield form-control text-center"
              (change)="changeSearch($event)"
            />
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Filters -->
  <div class="row">
    <div class="col-4 dropdown" *ngFor="let filter of (filters | async)">
      <!-- TODO: Find out how Angular determines which option will be displayed -->
      <select name="{{filter.name}}" class="form-control form-control-sm" (change)="changeFilter($event)">
        <option>Choose {{filter.name}}</option>
        <option *ngFor="let value of filter.value" value="{{ value }}">{{ value }}</option>
      </select>
    </div>
  </div>
</header>

<!-- Main -->
<main class="main default-padding">
  <div class="container">

    <div class="text-center" *ngIf="(loading | async)">
      Loading...
    </div>

    <div class="article" *ngFor="let user of (data | async)">
      <h4>{{user.name.first}} {{user.name.last}}</h4>
      <p>{{user.nat}} - {{user.gender}}</p>
    </div>
  </div>
</main>
